.hero{
    flex: 1;
    min-height: 100vh;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: url("fond.jpeg");
    background-size: cover;
    background-position: center;
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-gauche{
    flex: 1;
}
.hero-gauche h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.hero-gauche p{
    font-size: 20px;
    color: #ddd;
    margin-bottom: 30px;
    max-width: 700px;
}

.btn{
    display:inline-block;
    padding: 18px 40px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 22px;
    transition: 0.3s;
}
.btn:hover{
    background: #ff6b00;
    transform: scale(1.05);
}

.hero-droite{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card{
    background: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

.card h2,
.card h3{
    color: orange;
    margin-bottom: 15px;
    font-size: 24px;
}

.card p{
    color:#ddd;
    line-height: 1.6;
    font-size: 18px;
}

i{
    color: #ff914d;
    margin-right: 10px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: black;
    font-size: 20px;
    color: #aaa;
    margin-top: auto;
}

@media(max-width: 1000px){
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-droite{
        width: 100%;
    }
    .hero-gauche h1{
        font-size: 45px;
    }
}
